.camera{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
}
.camera-left{
    margin-top: 70px;
    margin-left: 30px;
    text-align: center;
    align-items: center;
}
.camera-left h1{
    font-size: 48px;
    color: tomato;
}
.live-btn{
    padding: 12px 30px;
    background-color: tomato;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}
.live-btn:hover{
    background-color: black;
}
.customer-review h1{
    color: orangered;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}
.home-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.home-container h2{
    text-align: center;
}
.see-more-btn{
    text-align: center;
    margin: 20px;
}